In [40]:
import pandas as pd

# Load the CSV files into dataframes
labels_df = pd.read_excel('labels.xlsx',dtype = {'tweet_id':str})
tweets_df = pd.read_excel('batches.xlsx', dtype = {'tweet_id':str})

In [41]:
labels_df

                  tweet_id Label
0      1359862972739371009     F
1      1358000045350658048     T
2      1357792268699242497     T
3      1350595656293998592     T
4      1349239790252797953     T
...                    ...   ...
77618  1051426563038830593     F
77619  1348371936959672322     F
77620  1051543586834145281     F
77621  1051565181103419392     F
77622  1051488176085327874     F

[77623 rows x 2 columns]

In [42]:
tweets_df

                  tweet_id                                               text
0      1359862972739371009  @MalikAltayeb1 @aswagalmal كلام عين العقل ...\...
1      1358000045350658048  سبحان الله صارو العملاء يدعون الإلهية وهم يتنب...
2      1357792268699242497  الحاصل أن الحكام العملاء الذين أفنوا أعمارهم ف...
3      1350595656293998592  الوصف المثالي لسنه الي اشتغلتها في ماكدونالدز ...
4      1349239790252797953  نُطالب بحاكم مسلم الان لإصلاح السودان وطرد الع...
...                    ...                                                ...
55835   949429796546732033  @saudq1978 #كلنا_سلمان_كلنا_محمد\nاوامر خير لش...
55836  1015940006978912257  @r2wwww @deep_71023 اوجعتي قلبي حسبي الله وكفى...
55837  1051670259722260480  #كلنا_ثقه_في_محمد_بن_سلمان\n\nاوطنا دون حدك اس...
55838  1243950429488250880  @7Ggg1o3GhlR9eCK @The_Saudi_girl اوف لا والله ...
55839  1308716311095246848  #٩٠عام_فوق_هام_السحب  اوفر حسابات نتفلكس وعندن...

[55840 rows x 2 columns]

In [43]:
# Merge the two dataframes based on the tweet ID
merged_df = pd.merge(tweets_df, labels_df, on='tweet_id')

# Save the merged dataframe to a new CSV file
merged_df.to_csv('merged_tweets.csv', index=False)

In [44]:
merged_df

,tweet_id,text,Label
0,1359862972739371009,@MalikAltayeb1 @aswagalmal كلام عين العقل ...\...,F
1,1358000045350658048,سبحان الله صارو العملاء يدعون الإلهية وهم يتنب...,T
2,1357792268699242497,الحاصل أن الحكام العملاء الذين أفنوا أعمارهم ف...,T
3,1350595656293998592,الوصف المثالي لسنه الي اشتغلتها في ماكدونالدز ...,T
4,1349239790252797953,نُطالب بحاكم مسلم الان لإصلاح السودان وطرد الع...,T
...,...,...,...
55891,949429796546732033,@saudq1978 #كلنا_سلمان_كلنا_محمد\nاوامر خير لش...,F
55892,1015940006978912257,@r2wwww @deep_71023 اوجعتي قلبي حسبي الله وكفى...,F
55893,1051670259722260480,#كلنا_ثقه_في_محمد_بن_سلمان\n\nاوطنا دون حدك اس...,F
55894,1243950429488250880,@7Ggg1o3GhlR9eCK @The_Saudi_girl اوف لا والله ...,F
55895,1308716311095246848,#٩٠عام_فوق_هام_السحب اوفر حسابات نتفلكس وعندن...,F

In [45]:
merged_df.to_excel('merged_tweets.xlsx', index=False)